#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000f21;
  font-family: 'Abril Fatface', serif;
}

.logo {
  height: 25em;
  padding: 1em;
  margin-top: 1em;
  transition: filter 300ms; /* Transition for the filter effect */
  /* Apply a filter-based drop shadow */
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.logo-container {
  margin-top: 50px; /* Added space above the logo */
}

.logo:hover {
  /* Adjust the drop shadow on hover */
  filter: drop-shadow(0 0 10em #646cffaa);
}

.card {
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
}

.rulesButton, .signUpButton {
  background-color: #646cff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  width: 150px; /* Fixed width */
  height: 50px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rulesButton:hover, .signUpButton:hover {
  background-color: #535bf2;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.rulesButton:active, .signUpButton:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 40px; /* Adjusted for better spacing */
  margin: 1em 0;
}
.social-media-icons a {
  color: inherit;
  transition: color 0.3s;
}
.social-media-icons a:hover {
  color: #646cff;
}

.byline {
  color: #535bf2;
  font-size: 1.5em;
  margin: 0.5em 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.footer {
  text-align: center;
  margin-top: 2em;
  padding: 1em 0;
  color: #ffffff;
}
.footer p {
  margin: 0;
  font-size: 1em;
}
.footer a {
  color: #646cff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

/* Add this to your CSS file */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Place it behind other content */
  pointer-events: none; /* Prevent it from blocking interactions */
}
