#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000f21;
}

.logo {
  height: 3em;
  padding: 1em;
  margin-top: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 10em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 10em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* NavBar */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  display: flex;
  align-items: center;
  height: 50px; /* Adjust height as needed */
}

nav li {
  margin-right: 20px; /* Adjust spacing between menu items */
}

nav a {
  text-decoration: none;
  color: white; /* Change color as needed */
  font-size: 1.2em; /* Adjust font size as needed */
}

nav {
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 100%;
  background-color: #000f21;
  padding: 0 10px; /* Adjust padding as needed */
}

nav .menuHeader {
  font-size: 1.5em; /* Adjust the size as needed */
  font-weight: bold;
}
