/* TickerTape.css */
.ticker {
    background-color: #000f21;
    color: white;
    overflow: hidden;
    position: relative;
  }
  
  .ticker-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    display: inline-block;
    white-space: nowrap;
    animation: ticker 25s linear infinite;
  }
  
  .ticker-content:hover {
    animation-play-state: paused;
  }
  
  .ticker-content a {
    color: #535bf2; /* Link color */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .ticker-content a:hover {
    color: #646cff; /* Link hover color */
  }
  
  @keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  